<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jed's Reddit Clone</title>
    </head>

    <body>
        <h1>JED'S REDDIT CLONE "O" DOOOOOOM!!!!</h1>
        <div>
            <a href='/users'>Show All Users</a><br><br>
            <a href='/users/new'>Create New User</a><br><br>
            <a href='/users/edit'>Change a User... FOR-EV-ER!</a><br><br>
            <a href='/users/delete'>Delete a user... FOR-EV-ER!!!</a>
        </div>
    </body>

</html>
