<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Reddit Clone</title>
    </head>

    <body>
        <h1>
		Edit User
	</h1>
        <form name="newUser" action="/users/:user_id?_method=PUT" method="POST">
            <label for='newUser'>ID to edit:</label>
            <input type="text" name="user[id]" required><br>
            <label for='newUser'>Full Name:</label>
            <input type="text" name="user[full_name]" autofocus required><br>
            <label for="userName">User Name:</label>
            <input type="text" name="user[username]" required><br>
            <input type="submit" value="Edit User"><br>
        </form>
    </body>

</html>
